<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<header>
</header>
<main>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
        <div class="container">
            <a href="#" class="navbar-brand mr-3">Flight Reservation</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a href="#" class="nav-item nav-link active">Home</a>
                    <a class="nav-item nav-link" routerLink="/search-flight">Book Ticket</a>
                    <a href="#" class="nav-item nav-link">View Booking Details</a>
                    <a href="#" class="nav-item nav-link" routerLink="/Aboutus">AboutUs</a>
                    <!--<a href="#" class="nav-item nav-link" routerLink="/add-flight">Add Flight</a>
                    <a href="#" class="nav-item nav-link" routerLink="/ViewFlight">View Flight</a>-->
                </div>
                <div class="navbar-nav ml-auto">
                    <a href="#" class="nav-item nav-link" routerLink="/register" *ngIf="!login">Register</a>
                    <a href="#" class="nav-item nav-link" routerLink="/Login"*ngIf=" !login">Login</a>
                    <a href="#" class="nav-item nav-link" routerLink="/Login"*ngIf=" login" (click)=logout()>Logout</a>
                </div>
            </div>
        </div>    
    </nav>
<section class="Form my-4 mx-5">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5">
                <img src="./assets/new.jpeg" class="img-fluid">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h4>Forgot Password</h4>
                <br>
                <form [formGroup] = "forgetPasswordOTPForm" (ngSubmit) = "doChange()">
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <label> Email : </label>
                            <input type = "text" class="form-control" formControlName = "useremail" >
                            <div *ngIf = "l.useremail.errors && l.useremail.touched" class="text-danger">
                                <div *ngIf = "l.useremail.errors.required">Email is required</div>
                                <div *ngIf = "l.useremail.errors.email">Email must be a valid email address</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-7">
                            <button class = "btn1 mt-3 mb-5" (click) = getOtp()>{{buttonname}}</button>
                            <div *ngIf = "otpstatus">
                                <label> OTP : </label>
                                <input type = "text" class="form-control" formControlName="otp">
                                <div *ngIf = "l.otp.errors && l.otp.touched" class="text-danger">
                                    <div *ngIf = "l.otp.errors.required">OTP is required</div>
                                    <div *ngIf = "l.otp.errors.pattern">OTP must be of 4 digits</div>
                                    <!--<div *ngIf = "l.otp.errors.minlength && l.otp.errors.maxlength">OTP is of 4 numbers</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> New Password : </label>
                            <input type = "password" class="form-control" formControlName = "newpassword">
                            <div *ngIf="l.newpassword.errors && l.newpassword.touched" class="text-danger">
                                <div *ngIf = "l.newpassword.errors.required">Password is required</div>
                                <div *ngIf = "l.newpassword.errors.minlength">Password must be of minimum 6 characters</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="from-group col-lg-7">
                            <label> Confirm New Password : </label>
                            <input type = "password" class="form-control" formControlName = "confirmnewpassword">
                            <div *ngIf="l.confirmnewpassword.errors && l.confirmnewpassword.touched" class="text-danger">
                                <div *ngIf = "l.confirmnewpassword.errors.required">Confirm Password is required</div>
                                <div *ngIf = "l.confirmnewpassword.errors.mustmatch">Password must match</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-lg-7">
                            <button class="btn1 mt-3 mb-5">Change Password</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</section>